body{
    width: 98vw;
    height: 98vh;
    background-color: #107566;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #d3b900;
}

header{
    width: 500px;
}

ul{
    display: flex;
    gap: 80px;
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: solid #ecfffd 1px;
    border-radius: 10px;
    transition: all 0.5s;
}

a:hover{
    background-color: #2a55a3;
    transition:all 0.4s;
}
img{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s;
}

img:hover{
    scale: 105%;
    transition: all 0.5s;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}