body{
    width: 98vw;
    height: 98vh;
    background-color: #107566;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    width: 500px;
}

ul{
    display: flex;
    gap: 80px;
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: solid #ecfffd 1px;
    border-radius: 10px;
}

a:hover{
    scale: 105%;
    background-color: #2a55a3;
    transition:all 0.4s;
}

img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    transition: all 0.5s;
}

img:hover{
    scale: 105%;
    transition: all 0.5s;
}

h2{
    color: #282f3e;
}

p{
    color: #8091a2;
    font-size: large;
    max-width: 500px;
}

.proyect{
    margin: 30px;
    text-align: start;
    background-color: #fff;
    padding: 10px;
    border-radius: 16px;
}

.proyect>#git{
    background-color: #4f39f6;
    text-decoration: none;
    padding: 10px;
    border: solid #ecfffd 1px;
    border-radius: 10px;
}

.proyect>#sitio{
    background-color: #00a63e;
    text-decoration: none;
    padding: 10px;
    border: solid #ecfffd 1px;
    border-radius: 10px;
}